*{
    margin: 0;
    padding: 0;
    list-style: n;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 5px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  
  li{
    padding: 10px ;
    display: flex;
    justify-content: space-around;
    border: 1px solid;
    margin: 5px;
  
  }
  li button{
    margin-left: 30px;
  }